*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #20229c;
  background-color: rgb(10, 25, 47);
  background-color: #0B0B45;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, white 1px, rgba(0, 0, 0, 0) 1px);
}

.container {
  width: 100%;
  padding: 1rem;
  max-width: 900px;
  margin: 2rem auto;
}