*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  overflow: hidden;
  background-color: #14274E;
  background-attachment: fixed;
  background-size: 40px 40px;
}

a {
  color: #FF4C29;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width: 1280px) {
  body {
    overflow: auto;
  }
}

.container {
  width: 100%;
  padding: 3rem 1rem;
  max-width: 900px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Rubik Wet Paint', cursive;
}

main {
  padding-top: 80px;
  display: grid;
  gap: 80px 54px;
  height: calc(100vh - 80px);
  grid-template-columns: 2fr 3fr;
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.image-container {
  position: relative;
  transition: all 0.3s;
  filter: drop-shadow(3px 3px 20px black) grayscale(0);
}

.image-container img {
  width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 400px;
  border-radius: 4px;
}

.hover {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.625rem;
  left: 0.625rem;
  z-index: -1;
}

.bio-container {
  position: relative;
}

.bio-content {
  margin-top: 2.5rem;
}

@media screen and (max-width: 600px) {
  .bio-container {
    padding: 1rem;
  }
  nav {
    padding: 0 1rem;
  }
}

.bio-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: 'Rubik Wet Paint', cursive;
}

.bio-content p {
  font-size: 16px;
  font-family: 'Raleway';
}

.bio-content .tag {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.content::-webkit-scrollbar {
  width: 0px;
}

.content header {
  font-size: 1.375rem;
  padding-left: .75rem;
  text-transform: uppercase;
  font-family: 'Rubik Wet Paint', cursive;
}

.content-list-item {
  border-radius: 4px;
  padding: 1rem;
}

.content-list-item h4 {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
}

.content-list-item *+* {
  margin-top: 0.5rem;
}

.content-list-item p {
  font-size: 16px;
  font-family: 'Raleway';
}

.content-list-item p+p {
  margin-top: 20px;
}